<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607604221299-iqtif6eo3h7vuhko9ho4u65sg7gocq9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607604221299-iqtif6eo3h7vuhko9ho4u65sg7gocq9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDaLYLI6XGQDT-doYGQuKDIjmy4Ve1Tr4c</string>
	<key>GCM_SENDER_ID</key>
	<string>607604221299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bouncePatientApp</string>
	<key>PROJECT_ID</key>
	<string>bounce-433ce</string>
	<key>STORAGE_BUCKET</key>
	<string>bounce-433ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607604221299:ios:f30123cb17980fdbced106</string>
</dict>
</plist>